<?xml version="1.0" ?>
<launch>

    <include file="$(find v10_cat2_detector)/launch/v10_cat2_detector.launch" />
    <include file="$(find v10_cat2_localization)/launch/v10_cat2_localization.launch" />
    <!-- <include file="$(find v9_ball_pillar_detector)/launch/v9_ball_pillar_detector.launch" /> -->

     <node pkg="cat2_monitor" name="cat2_monitor_node" type="cat2_monitor_node" output="screen" >
<!--        <remap from="/vision_monitor_node/image_in" to="/v9_ball_detector_node/image_out" />-->
    </node>

</launch>
