<?xml version="1.0" ?>
<launch>

    <include file="$(find hline_square_detector)/launch/hline_square_detector.launch" />
    <include file="$(find v10_projection)/launch/v10_projection.launch" />
    <!-- <include file="$(find v10_pillar_detector)/launch/v10_pillar_detector.launch" /> -->

     <node pkg="monitor_hline_square" name="monitor_hline_square_node" type="monitor_hline_square_node" output="screen" >
<!--        <remap from="/vision_monitor_node/image_in" to="/v9_ball_detector_node/image_out" />-->
    </node>

</launch>
