<?xml version="1.0" ?>
<launch>

    <include file="$(find v12_goalpost_white_detector)/launch/v12_goalpost_white_detector.launch" />
    <include file="$(find v10_projection)/launch/v10_projection.launch" />

     <node pkg="v12_goalpost_white_monitor" name="v12_goalpost_white_monitor_node" type="v12_goalpost_white_monitor_node" output="screen" >
<!--        <remap from="/vision_monitor_node/image_in" to="/v9_ball_detector_node/image_out" />-->
    </node>

</launch>
