<?xml version="1.0" ?>
<launch>

    <include file="$(find v12_goalpost_white_detector)/launch/v12_goalpost_white_detector_gazebo.launch" />
    <include file="$(find v9_localization)/launch/v9_localization.launch" />
    <include file="$(find localization_monitor)/launch/localization_monitor.launch" />

    <node pkg="v12_goalpost_white_monitor" name="v12_goalpost_white_monitor_node" type="v12_goalpost_white_monitor_node" output="screen" >
<!--        <remap from="/vision_monitor_node/image_in" to="/v9_ball_detector_node/image_out" />-->
    </node>

</launch>
